<div class="panel panel-default panel-shadow">
  <div class="panel-heading">
    <div class="panel-title"><%= title %></div>

    <!-- <div class="panel-options">
      <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
      <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
    </div> -->
  </div>
  <!-- panel body -->
  <div class="panel-body">